html {
    scroll-behavior: smooth;

}

body {

    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    /* or 125% */
    letter-spacing: 15%;
    color: #CF6E3C;


    background:  rgba(197, 178, 144, 0.1);
}

p {
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    color: #766f6bdb;
    line-height: 1.5em;
    letter-spacing: 5%;
    list-style: none;
   
}

p.asterisk
{
    font-size: 2em;
    font-weight: 500;
    color: #CF6E3C;
    text-indent: .50em;

}

ul.list {
    list-style: none;

}


img {
    width: 550px;
    height: auto;
    overflow-y: scroll;
    overflow-x: scroll;
    
}

/* Text Scrolling */
.scrolling-area {
    max-width: 65px;
    max-height: 65px;
    overflow: scroll;
    padding: 2rem;
    background: rgba(132, 135, 140, 0.163);
    direction: ltl;
    object-position: 2em;
    transition-property: max-width, mad-height,;
    transition-duration: 1.45s, 1.45s;

  }

.scrolling-element-inside {
    direction: ltr;
  }

.scrolling-area:hover {
    max-width: 400px;
    max-height: 600px;
  }
  



/* Grid Container */
.grid-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
}


.floating-journals {
    position: absolute;
    flex-basis: 20%;
    align-items: center;
    justify-content:center;
    image-rendering: crisp-edges;


}


  


